# <font color='blue'>ALPAR - Governo Digital - Processo Inteligente</font>

## <font color='red'>ETL para o BI</font>

# <font color='red'>1.0 ENVIRONMENT</font>

## <font color='black'>importação de pacotes</font>

In [1]:
# !pip install mysql-connector-python
# !pip install pymysql

In [2]:
import pandas as pd
import numpy as np
import os
import psutil
import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode
from sqlalchemy import create_engine
import pymysql

# import copy
# import csv
# import codecs
# import time
# from os.path import expanduser

# print("pandas versão", pd.__version__)
# print("numpy versão", np.__version__)
# print("csv versão", csv.__version__)

# pd.options.display.max_rows = 2000
# pd.options.display.width = 120
# pd.options.display.max_colwidth = 100

## <font color='black'>constantes</font>

In [3]:
MINUTOS_PARA_DIAS = 1440 # quantidade de minutos em um dia

# <font color='red'>2.0 EXTRACT</font>

## <font color='black'>trata o dataset tasks</font>

In [4]:
def usage():
    process = psutil.Process(os.getpid())
    return process.get_memory_info()[0] / float(2 ** 20)

In [5]:
sql_form = (
"SELECT "
" `atributo`, "
" `valor`, "
" `protocolo` "
"FROM "
" tb_nx_form "
"WHERE `atributo` IN ('state', 'city', 'neighborhood', 'zipcode', 'street')"
)
sql_tasks = (
"SELECT "
" `Protocolo`, "
" `Entidade`, "
" `Serviço`, "
" `Usuário`, "
" `Grupo`, "
" `Data e Hora de conclusão`, "
" `Data e Hora de criação`, "
" `Ação`, "
" `Encaminhado para`, "
" `Processo encerrado`, "
" `Processo cancelado`, "
" `Motivo de cancelamento`, "
" `Status externo`, "
" `Categoria`, "
" `Grupo responsável`, "
" `Prazo (em segundos)` "
"FROM "
" tb_nx_tasks"
)
sql_sla = (
"SELECT * "
"FROM tb_nx_sla"
)

In [6]:
My_host = 'localhost'; My_db = 'bd_teste_fontes'; My_user = 'gd'; My_pw = 'Alpar@123'

try:
    connection = mysql.connector.connect(host = My_host, database = My_db, user = My_user, password = My_pw)
    
    df_tasks = pd.read_sql(sql_tasks, con=connection)
    df_sla =   pd.read_sql(sql_sla,   con=connection)
    df_form =  pd.read_sql(sql_form,  con=connection)
    
except mysql.connector.Error as error:
    print("Failed to read record from MySQL table {}".format(error))

finally:
    if (connection.is_connected()):
        connection.close()
        print(f'{df_tasks.shape[0]} registros lidos em {df_tasks.shape[1]} colunas')
        print(f'{df_sla.shape[0]} registros lidos em {df_sla.shape[1]} colunas')
        print(f'{df_form.shape[0]} registros lidos em {df_form.shape[1]} colunas')
        print("MySQL connection is closed")

3461006 registros lidos em 16 colunas
1038 registros lidos em 5 colunas
2274890 registros lidos em 3 colunas
MySQL connection is closed

In [7]:
# renomeia as colunas
lst_colunas_tasks = ['Protocolo', 'Entidade', 'Servico', 'Usuario','Grupo', 'DataHora_Conclusao',
                      'DataHora_Criacao', 'Acao', 'EncaminhadoPara', 'ProcessoEncerrado', 'ProcessoCancelado',
                      'MotivoCancelamento', 'StatusExterno', 'Categoria', 'GrupoResponsavel','Prazo']
df_tasks.columns = lst_colunas_tasks
# df_tasks.head()

# <font color='red'>3.0 TRANSFORM</font>

## <font color='black'>trata o dataset sla</font>

In [8]:
df_sla_1 = df_sla.copy()

In [9]:
# preenche com null as colunas que contém 'null' como tipo string
df_sla_1.loc[(df_sla_1['limiteMinimo'] == 'null'), 'limiteMinimo'] = np.nan
df_sla_1.loc[(df_sla_1['limiteMaximo'] == 'null'), 'limiteMaximo'] = np.nan

# transforma o tipo de coluna para float
df_sla_1['limiteMinimo'] = df_sla_1['limiteMinimo'].astype(float)
df_sla_1['limiteMaximo'] = df_sla_1['limiteMaximo'].astype(float)

# transforma a unidade de medida de minuto para dias
df_sla_1['limiteMinimo'] = df_sla_1['limiteMinimo'] / MINUTOS_PARA_DIAS
df_sla_1['limiteMaximo'] = df_sla_1['limiteMaximo'] / MINUTOS_PARA_DIAS

# preenche com valores extremos os limites máximos e limites mínimos
df_sla_1.loc[(df_sla_1['limiteMinimo'].isna()), 'limiteMinimo'] = -9999999.9
df_sla_1.loc[(df_sla_1['limiteMaximo'].isna()), 'limiteMaximo'] = 9999999.9

# cria mais uma coluna de status para pivotar limite mínimo e limite máxio
df_sla_1['status2'] = df_sla_1['status']
df_sla_1.rename(columns={'status': 'StatusLmin', 'status2': 'StatusLmax'}, inplace = True)

# df_sla_1

In [10]:
# faz pivot da coluna StatusLmin
idx = ['entityCode', 'service', 'StatusLmax', 'limiteMaximo']
df_sla_1 = df_sla_1.pivot(columns = 'StatusLmin', values = 'limiteMinimo', index=idx).reset_index()
df_sla_1.columns.name = None
dic_renome = {'Dentro do prazo' : 'Dentro do Prazo LMin', 
              'Fora do prazo' : 'Fora do Prazo LMin',
              'Perto do prazo' : 'Perto do Prazo LMin'}
df_sla_1.rename(columns=dic_renome, inplace = True)

# faz pivot da coluna StatusLmax
idx = ['entityCode', 'service', 'Dentro do Prazo LMin', 'Fora do Prazo LMin', 'Perto do Prazo LMin']
df_sla_1 = df_sla_1.pivot(columns = 'StatusLmax', values = 'limiteMaximo', index=idx).reset_index()
df_sla_1.columns.name = None
dic_renome = {'Dentro do prazo' : 'Dentro do Prazo LMax', 
              'Fora do prazo' : 'Fora do Prazo LMax',
              'Perto do prazo' : 'Perto do Prazo LMax'}
df_sla_1.rename(columns=dic_renome, inplace = True)

# agrupa por entidade e serviço
df_sla_1 = df_sla_1.groupby('service').sum().reset_index()

df_sla_1

,service,Dentro do Prazo LMin,Fora do Prazo LMin,Perto do Prazo LMin,Dentro do Prazo LMax,Fora do Prazo LMax,Perto do Prazo LMax
0,Servico 1,-19999999.8,50.540278,42.959028,42.959028,19999999.8,50.540278
1,Servico 10,-29999999.7,65.406944,55.595139,55.595139,29999999.7,65.406944
2,Servico 100,-29999999.7,64.918750,55.179861,55.179861,29999999.7,64.918750
3,Servico 101,-29999999.7,62.138889,52.816667,52.816667,29999999.7,62.138889
4,Servico 103,-9999999.9,35.195833,29.915972,29.915972,9999999.9,35.195833
...,...,...,...,...,...,...,...
158,Servico 95,-19999999.8,30.872917,26.240972,26.240972,19999999.8,30.872917
159,Servico 96,-9999999.9,34.522917,29.344444,29.344444,9999999.9,34.522917
160,Servico 97,-19999999.8,54.904167,46.668056,46.668056,19999999.8,54.904167
161,Servico 98,-9999999.9,22.152083,18.829167,18.829167,9999999.9,22.152083
162,Servico 99,-49999999.5,146.384722,124.425694,124.425694,49999999.5,146.384722

## <font color='black'>trata o dataset form</font>

In [11]:
df_form_1 = df_form.copy()

In [12]:
# faz pivot da coluna atributo
df_form_1 = df_form_1.pivot(columns='atributo', values='valor', index='protocolo').reset_index()
df_form_1.columns.name = None

# renomeia colunas
dic_renome = {'protocolo': 'Solicitacao', 
              'zipcode': 'CEP', 
              'street': 'Endereco', 
              'neighborhood': 'Bairro', 
              'city': 'Cidade', 
              'state': 'UF'}
df_form_1.rename(columns=dic_renome, inplace = True)

# df_form_1

In [13]:
# substitui a coluna Endereco por branco quando '-' ou null
df_form_1.loc[(df_form_1['Endereco'] == '-') | (df_form_1['Endereco'].isnull()), ['Endereco']] = ''
df_form_1.loc[(df_form_1['Bairro'] == '-') | (df_form_1['Bairro'].isnull()), ['Bairro']] = ''

# cria a coluna Endereco Completo
df_form_1['EnderecoCompleto'] = df_form_1['Cidade'] + ', ' + df_form_1['UF']

df_form_1

,Solicitacao,Cidade,Bairro,UF,Endereco,CEP,EnderecoCompleto
0,1.pr-1,Mata de São João,Valor Campo neighborhood 2,BA,Valor Campo street 5,Valor Campo zipcode 3,"Mata de São João, BA"
1,1.pr-10,Salinópolis,Valor Campo neighborhood 4,PA,Valor Campo street 4,Valor Campo zipcode 3,"Salinópolis, PA"
2,1.pr-100,Brejão,Valor Campo neighborhood 5,PE,Valor Campo street 5,Valor Campo zipcode 4,"Brejão, PE"
3,1.pr-1000,Fernandópolis,Valor Campo neighborhood 5,SP,Valor Campo street 4,Valor Campo zipcode 1,"Fernandópolis, SP"
4,1.pr-10000,Santa Cruz da Esperança,Valor Campo neighborhood 1,SP,Valor Campo street 5,Valor Campo zipcode 4,"Santa Cruz da Esperança, SP"
...,...,...,...,...,...,...,...
454973,9.pr-9995,Ipê,Valor Campo neighborhood 2,RS,Valor Campo street 1,Valor Campo zipcode 4,"Ipê, RS"
454974,9.pr-9996,Pão de Açúcar,Valor Campo neighborhood 2,AL,Valor Campo street 4,Valor Campo zipcode 5,"Pão de Açúcar, AL"
454975,9.pr-9997,Tigrinhos,Valor Campo neighborhood 1,SC,Valor Campo street 5,Valor Campo zipcode 5,"Tigrinhos, SC"
454976,9.pr-9998,Salinópolis,Valor Campo neighborhood 1,PA,Valor Campo street 4,Valor Campo zipcode 4,"Salinópolis, PA"
454977,9.pr-9999,Travesseiro,Valor Campo neighborhood 5,RS,Valor Campo street 3,Valor Campo zipcode 5,"Travesseiro, RS"

In [14]:
dict_uf = {
'AC': 'Acre',
'AL': 'Alagoas',
'AP': 'Amapá',
'AM': 'Amazonas',
'BA': 'Bahia',
'CE': 'Ceará',
'ES': 'Espírito Santo',
'GO': 'Goiás',
'MA': 'Maranhão',
'MT': 'Mato Grosso',
'MS': 'Mato Grosso do Sul',
'MG': 'Minas Gerais',
'PA': 'Pará',
'PB': 'Paraíba',
'PR': 'Paraná',
'PE': 'Pernambuco',
'PI': 'Piauí',
'RJ': 'Rio de Janeiro',
'RN': 'Rio Grande do Norte',
'RS': 'Rio Grande do Sul',
'RO': 'Rondônia',
'RR': 'Roraima',
'SC': 'Santa Catarina',
'SP': 'São Paulo',
'SE': 'Sergipe',
'TO': 'Tocantins',
'DF': 'Distrito Federal',
'<nd>': '<sem UF>'
}

# <font color='blue'>monta tabelas dimensões</font>

In [15]:
df_T = df_tasks.copy()
df_T.head()

,Protocolo,Entidade,Servico,Usuario,Grupo,DataHora_Conclusao,DataHora_Criacao,Acao,EncaminhadoPara,ProcessoEncerrado,ProcessoCancelado,MotivoCancelamento,StatusExterno,Categoria,GrupoResponsavel,Prazo
0,1.pr-1,Secretaria de Brazabrantes,Servico 11,Usuário 19,Grupo de Usuário 29,2020-12-09T18:00:20.815Z,2020-12-02T08:17:36.067Z,Abertura de Processo Administrativo,Departamento 91,false,false,,Solicitação recebida,Categoria de Servico 26,Grupo Responsável 60,57184
1,1.pr-1,Secretaria de Brazabrantes,Servico 11,Usuário 19,Grupo de Usuário 29,2020-12-12T03:10:10.700Z,2020-12-10T15:31:07.854Z,Ação 8,Departamento 17,false,false,,Status Externo 29,Categoria de Servico 26,Grupo Responsável 60,57184
2,1.pr-1,Secretaria de Brazabrantes,Servico 11,Usuário 19,Grupo de Usuário 29,2020-12-14T00:22:24.318Z,2020-12-12T13:36:07.146Z,Ação 85,Departamento 39,false,false,,Status Externo 54,Categoria de Servico 26,Grupo Responsável 60,57184
3,1.pr-1,Secretaria de Brazabrantes,Servico 11,Usuário 19,Grupo de Usuário 29,2020-12-20T01:56:59.769Z,2020-12-14T20:54:20.133Z,Ação 99,Departamento 63,false,false,,Status Externo 27,Categoria de Servico 26,Grupo Responsável 60,57184
4,1.pr-1,Secretaria de Brazabrantes,Servico 11,Usuário 19,Grupo de Usuário 29,2020-12-21T20:05:27.726Z,2020-12-20T18:23:46.425Z,Ação 8,Departamento 17,false,false,,Status Externo 90,Categoria de Servico 26,Grupo Responsável 60,57184

## DIM acoes

In [16]:
# trasnforma a coluna Acao em uma coluna do tipo "category'
df_T['tmpAcao'] = df_T['Acao'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão Ação
df_T['FK_dim_Acao'] = df_T['tmpAcao'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_Acao = df_T.loc[:, ['FK_dim_Acao', 'Acao']].drop_duplicates()
df_dim_Acao.rename(columns={'FK_dim_Acao': 'PK_dim_Acao'}, inplace = True)

# exclui a coluna Acoes de df_tasks que será a futura tabela fato
df_T.drop(['Acao', 'tmpAcao'], axis=1, inplace=True)

# df_dim_Acao

## DIM categoria servicos

In [17]:
# trasnforma a coluna Categoria em uma coluna do tipo "category'
df_T['tmpCategoria'] = df_T['Categoria'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão CategoriasServicos
df_T['FK_dim_CategoriaServicos'] = df_T['tmpCategoria'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_Categoria = df_T.loc[:, ['FK_dim_CategoriaServicos', 'Categoria']].drop_duplicates()
df_dim_Categoria.rename(columns={'FK_dim_CategoriaServicos': 'PK_dim_CategoriaServicos'}, inplace = True)

# exclui a coluna Categoria de df_tasks que será a futura tabela fato
df_T.drop(['Categoria', 'tmpCategoria'], axis=1, inplace=True)

# df_dim_Categoria

## DIM encaminhamento

In [18]:
# trasnforma a coluna EncaminhadoPara em uma coluna do tipo "category'
df_T['tmpEncaminhadoPara'] = df_T['EncaminhadoPara'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão Encaminhamento
df_T['FK_dim_Encaminhamento'] = df_T['tmpEncaminhadoPara'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_Encaminhamento = df_T.loc[:, ['FK_dim_Encaminhamento', 'EncaminhadoPara']].drop_duplicates()
df_dim_Encaminhamento.rename(columns={'FK_dim_Encaminhamento': 'PK_dim_Encaminhamento'}, inplace = True)

# exclui a coluna Entidade de df_tasks que será a futura tabela fato
df_T.drop(['EncaminhadoPara', 'tmpEncaminhadoPara'], axis=1, inplace=True)

# df_dim_Encaminhamento

## DIM entidade

In [19]:
# trasnforma a coluna Entidade em uma coluna do tipo "category'
df_T['tmpEntidade'] = df_T['Entidade'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão Entidades
df_T['FK_dim_Entidades'] = df_T['tmpEntidade'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_Entidade = df_T.loc[:, ['FK_dim_Entidades', 'Entidade']].drop_duplicates()
df_dim_Entidade.rename(columns={'FK_dim_Entidades': 'PK_dim_Entidades'}, inplace = True)

# exclui a coluna Entidade de df_tasks que será a futura tabela fato
df_T.drop(['Entidade', 'tmpEntidade'], axis=1, inplace=True)

# df_dim_Entidade

## DIM grupo responsavel

In [20]:
# trasnforma a coluna GrupoResponsavel em uma coluna do tipo "category'
df_T['tmpGrupoResponsavel'] = df_T['GrupoResponsavel'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão GrupoResponsavel
df_T['FK_dim_GrupoResponsavel'] = df_T['tmpGrupoResponsavel'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_GrupoResponsavel = df_T.loc[:, ['FK_dim_GrupoResponsavel', 'GrupoResponsavel']].drop_duplicates()
df_dim_GrupoResponsavel.rename(columns={'FK_dim_GrupoResponsavel': 'PK_dim_GrupoResponsavel'}, inplace = True)

# exclui a coluna GrupoResponsavel de df_tasks que será a futura tabela fato
df_T.drop(['GrupoResponsavel', 'tmpGrupoResponsavel'], axis=1, inplace=True)

# df_dim_GrupoResponsavel

## DIM grupo usuarios

In [21]:
# trasnforma a coluna Grupo em uma coluna do tipo "category'
df_T['tmpGrupo'] = df_T['Grupo'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão Grupo
df_T['FK_dim_GruposUsuarios'] = df_T['tmpGrupo'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_Grupo = df_T.loc[:, ['FK_dim_GruposUsuarios', 'Grupo']].drop_duplicates()
df_dim_Grupo.rename(columns={'FK_dim_GruposUsuarios': 'PK_dim_GruposUsuarios'}, inplace = True)

# exclui a coluna Grupo de df_tasks que será a futura tabela fato
df_T.drop(['Grupo', 'tmpGrupo'], axis=1, inplace=True)

# df_dim_Grupo

## DIM motivos cancelamento

In [22]:
# trasnforma a coluna MotivoCancelamento em uma coluna do tipo "category'
df_T['tmpMotivoCancelamento'] = df_T['MotivoCancelamento'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão MotivoCanc
df_T['FK_dim_MotivosCanc'] = df_T['tmpMotivoCancelamento'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_MotivoCanc = df_T.loc[:, ['FK_dim_MotivosCanc', 'MotivoCancelamento']].drop_duplicates()
df_dim_MotivoCanc.rename(columns={'FK_dim_MotivosCanc': 'PK_dim_MotivosCanc'}, inplace = True)

# exclui a coluna MotivoCancelamento de df_tasks que será a futura tabela fato
df_T.drop(['MotivoCancelamento', 'tmpMotivoCancelamento'], axis=1, inplace=True)

# df_dim_MotivoCanc

## DIM servico

In [23]:
# trasnforma a coluna Servico em uma coluna do tipo "category'
df_T['tmpServico'] = df_T['Servico'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão Servico
df_T['FK_dim_Servicos'] = df_T['tmpServico'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_Servicos = df_T.loc[:, ['FK_dim_Servicos', 'Servico']].drop_duplicates()
df_dim_Servicos.rename(columns={'FK_dim_Servicos': 'PK_dim_Servicos'}, inplace = True)

# exclui a coluna Servico de df_tasks que será a futura tabela fato
df_T.drop(['Servico', 'tmpServico'], axis=1, inplace=True)

# df_dim_Servicos

In [24]:
# faz um merge da dimensão dim_Servicos com a tabela de SLAs
df_dim_Servicos = df_dim_Servicos.merge(df_sla_1, left_on='Servico', right_on='service', how='left')
df_dim_Servicos = df_dim_Servicos.drop('service', axis=1)

# df_dim_Servicos

## DIM status externo

In [25]:
# trasnforma a coluna StatusExterno em uma coluna do tipo "category'
df_T['tmpStatusExterno'] = df_T['StatusExterno'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão Grupo
df_T['PK_dim_StatusExt'] = df_T['tmpStatusExterno'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_StatusExt = df_T.loc[:, ['PK_dim_StatusExt', 'StatusExterno']].drop_duplicates()
df_dim_StatusExt.rename(columns={'PK_dim_StatusExt': 'PK_dim_StatusExt'}, inplace = True)

# exclui a coluna Grupo de df_tasks que será a futura tabela fato
df_T.drop(['StatusExterno', 'tmpStatusExterno'], axis=1, inplace=True)

# df_dim_StatusExt

## DIM usuario

In [26]:
# trasnforma a coluna Usuario em uma coluna do tipo "category'
df_T['tmpUsuario'] = df_T['Usuario'].astype('category')

# cria uma nova coluna que será a coluna chave primária da dimensão Usuario
df_T['PK_dim_Usuario'] = df_T['tmpUsuario'].cat.codes.astype('int64')

# tira a duplicidade
df_dim_Usuario = df_T.loc[:, ['PK_dim_Usuario', 'Usuario']].drop_duplicates()
df_dim_Usuario.rename(columns={'PK_dim_Usuario': 'FK_dim_Usuario'}, inplace = True)

# exclui a coluna Usuario de df_tasks que será a futura tabela fato
df_T.drop(['Usuario', 'tmpUsuario'], axis=1, inplace=True)

# df_dim_Usuario

## DIM situacao

In [27]:
df_dim_Situacao = pd.DataFrame({'PK_dim_Situacao': [1, 2, 3],
                                'Situacao':        ['em Andamento', 'Encerrada', 'Cancelada']}
                    )
# df_dim_Situacao

## DIM SLA

In [28]:
df_dim_SLA = pd.DataFrame({'PK_dim_SLA': [1, 2, 3],
                           'DescSLA':    ['dentro do prazo', 'perto do prazo', 'fora do prazo'],
                           'Cor':        ['verde','amarelo' ,'vermelho']}
                    )
# df_dim_SLA

## DIM endereco

In [29]:
# acrescenta o nome do estado ao dataframe
df_dim_Endereco = df_form_1.copy()
df_dim_Endereco['NomeUF'] = df_dim_Endereco['UF'].apply(lambda x: dict_uf.get(x, ''))
df_dim_Endereco.rename(columns={'Solicitacao': 'PK_dim_Endereco'}, inplace = True)

df_dim_Endereco.head()

,PK_dim_Endereco,Cidade,Bairro,UF,Endereco,CEP,EnderecoCompleto,NomeUF
0,1.pr-1,Mata de São João,Valor Campo neighborhood 2,BA,Valor Campo street 5,Valor Campo zipcode 3,"Mata de São João, BA",Bahia
1,1.pr-10,Salinópolis,Valor Campo neighborhood 4,PA,Valor Campo street 4,Valor Campo zipcode 3,"Salinópolis, PA",Pará
2,1.pr-100,Brejão,Valor Campo neighborhood 5,PE,Valor Campo street 5,Valor Campo zipcode 4,"Brejão, PE",Pernambuco
3,1.pr-1000,Fernandópolis,Valor Campo neighborhood 5,SP,Valor Campo street 4,Valor Campo zipcode 1,"Fernandópolis, SP",São Paulo
4,1.pr-10000,Santa Cruz da Esperança,Valor Campo neighborhood 1,SP,Valor Campo street 5,Valor Campo zipcode 4,"Santa Cruz da Esperança, SP",São Paulo

# <font color='red'>3.0 LOAD</font>

## grava tabelas DIM

In [30]:
# import the module
# create sqlalchemy engine
My_host = 'localhost'; My_db = 'bd_teste_dw'; My_user = 'gd'; My_pw = 'Alpar@123'

SQLengine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=My_user, pw=My_pw, db=My_db), pool_recycle=3600)
dbConn = SQLengine.connect()

In [31]:
try:
    df_dim_Acao.to_sql('dim_Acoes', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Categoria.to_sql('dim_CategoriasServicos', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Encaminhamento.to_sql('dim_Encaminhamento', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Entidade.to_sql('dim_Entidades', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_GrupoResponsavel.to_sql('dim_GrupoResponsavel', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Grupo.to_sql('dim_GruposUsuarios', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_MotivoCanc.to_sql('dim_MotivosCanc', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Servicos.to_sql('dim_Servicos', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_StatusExt.to_sql('dim_StatusExt', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Usuario.to_sql('dim_Usuarios', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Situacao.to_sql('dim_Situacao', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_SLA.to_sql('dim_SLA', con=dbConn, if_exists='replace', index=False, chunksize = 1000)
    df_dim_Endereco.to_sql('dim_Endereco', con=dbConn, if_exists='replace', index=False, chunksize = 1000)

except ValueError as vx:
    print('ERROR -', vx)

except Exception as ex:
    print('EXCEPTION -', ex)

else:
    print('Tabelas criadas com sucesso');  

finally:
    dbConn.close()

Tabelas criadas com sucesso